body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('mp.jpeg');


    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
}

#chartContainer {
    margin-top: 20px;
}
